/*whole online portfolio style sheet*/

textarea.med {
	width: 400px;
	height: 250px;
}

.wp-block-column {
	background-color: rgba(255,255,255,.7);
/* horizontal offset; vertical offset; blur spread color */
	box-shadow: 0 0 7px 9px rgba(255,255,255,.6);
	border-radius: 20px;
	padding: 15px;
	color: #002060;
	font-family: 'OpenDyslexic';
}

.wp-block-column h3 {
	color: #963c52;
}

.page-title h2 {
	color: #963c52;
}

.site-description h2 {
	color: #963c52;
}

.page-content h2 {
	color: #963c52;
}

p {
	background-color: rgba(255,255,255,.6);
/* horizontal offset; vertical offset; blur spread color */
	box-shadow: 0 0 6px 6px rgba(255,255,255,.6);
	border-radius: 20px;
	padding: 10px;
	color: #002060;
	font-family: 'OpenDyslexic';
	font-size: 17px;
	line-height: 1.6;
}

h1.site-title {
	font-family: Palatino;
}
.entry-header, .entry-content {
	float: unset;
	width: unset;
}


@font-face {
font-family: 'OpenDyslexic';
src: url('https://cdn.jsdelivr.net/gh/antijingoist/open-dyslexic@20160623-Stable/eot/OpenDyslexic-Regular.eot') format('eot'),
url('https://cdn.jsdelivr.net/gh/antijingoist/open-dyslexic@20160623-Stable/woff/OpenDyslexic-Regular.woff') format('woff'),
url('https://cdn.jsdelivr.net/gh/antijingoist/open-dyslexic@20160623-Stable/ttf/OpenDyslexic3-Regular.ttf') format('truetype'),
url('https://cdn.jsdelivr.net/gh/antijingoist/open-dyslexic@20160623-Stable/svg/OpenDyslexic-Regular.svg') format('svg'),
url('https://cdn.jsdelivr.net/gh/antijingoist/open-dyslexic@20160623-Stable/otf/OpenDyslexic-Regular.otf') format('otf');
font-weight: normal;
font-style: normal;
}
